interfaces {
	ethernet eth1 {
		address {{ wanip }}/24
	}
	ethernet eth0 {
		address {{ lanip }}/24
	}
	loopback lo {
	}
}
nat {
	source {
		rule 10 {
			outbound-interface eth0
			source {
				address {{ lan }}
			}
			translation {
				address masquerade 
			}
		}
	}
}
protocols {
	static {
		route 0.0.0.0/0 {
			next-hop {{ gateway }} {
			}
		}
	}
}

service {
	dns {
		forwarding {
			allow-from {{ lan }}
			listening-from {{ lanip }}
			name-server {{ nameserver }}
			system
		}
	}
	ssh {
		listen-address 0.0.0.0
	}
}
system {
	config-management {
		commit-revisions 100
	}
	console {
		device ttyS0 {
			speed 115200
		}
	}
	host-name {{ hostname }}
	login {
		user vyos {
			authentication {
				encrypted-password {{ passwordhash }}
				plaintext-password ""
			}
		}
	}
	name-server {{ nameserver }}
	ntp {
		server 0.pool.ntp.org {
		}
		server 1.pool.ntp.org {
		}
		server 2.pool.ntp.org {
		}
	}
	syslog {
		global {
			facility all {
				level info
			}
			facility potocols {
				level debug
			}
		}
	}
}
	
